body
{
    background-color: rgb(201, 190, 190);
 
}
h3
{
    color: rgb(251, 0, 0);
  
}
form
{

    align-items: center;
      
      
}
.form-group {
  display: flex;
  align-items: right; /* Vertically aligns items in the center */
  margin-bottom: 10px; /* Adds space between groups */
}

.form-group label {
  flex-basis: 300px; /* Sets a fixed width for labels */
  text-align: right; /* Aligns label text to the right */
  margin-right: 5px; /* Adds space between label and input */
}

.form-group1 {
  display: flex;
  align-items: right; /* Vertically aligns items in the center */
  margin-bottom: 5px; /* Adds space between groups */
}

.form-group1 label {
  flex-basis: 80px; /* Sets a fixed width for labels */
  text-align: right; /* Aligns label text to the right */
  margin-right: 5px; /* Adds space between label and input */

}
.form-group2 {
  display: flex;
  align-items: right; /* Vertically aligns items in the center */
  margin-bottom: 10px; /* Adds space between groups */
}

.form-group2 label {
  flex-basis: 150px; /* Sets a fixed width for labels */
  text-align: right; /* Aligns label text to the right */
  margin-right: 10px; /* Adds space between label and input */
}
ul
{
    color: brown;
}

{
  text-align: center;
}
h4
{
  color: gray;
}

h7
{
  word-spacing: 20px;
}
.red
{
  color: red;
}

